<div class="bg-greyBg h-16 flex justify-between items-center px-6">
    <div class="flex gap-10 items-center">
        <button class="flex gap-3 items-center bg-steelBlue rounded-lg px-2 py-1 text-white">
            <img ngSrc="assets/images/icon_filter.svg" width="24" height="24" alt="Filter" />
            <span class=" text-base font-medium">Filter</span>
            <img class="h-[12px] w-[12px]" ngSrc="assets/images/icon_clear.svg" width="24" height="24" alt="clear"/>
        </button>
        <div class="flex gap-1 items-center text-darkEbony font-bold text-xs">
            <span class="cursor-pointer" (click)="clearBreadcrumbs()">/{{ (centralStoreService.selectedFolderPath$ | async)?.name }}</span>
            <span *ngIf="breadcrumbs.length > 5" class="">...</span>
            <span [title]="entry.name" (click)="navigateToBreadcrumbsEntry(entry)" *ngFor="let entry of breadcrumbs | slice:-5" class="cursor-pointer underline text-steelBlue">
                /{{ entry.name.slice(0, 8) }}
            </span>
        </div>
    </div>
    <div class="border border-steelBlue h-[2.5rem] w-[23rem] rounded-lg flex items-center px-4 gap-3 focus-within:shadow-xl focus-within:rounded-3xl transition-all duration-300">
        <img ngSrc="assets/images/icon_search.svg" width="24" height="24" alt="Search"/>
        <input class="w-full bg-transparent h-full outline-0 text-steelBlue text-xs font-medium" placeholder="Search..." type="text">
    </div>
</div>
