<div class="bg-greyBg h-16 justify-between items-center px-6 hidden lg:flex">
    <div class="flex gap-10 items-center">
        <app-breadcrumbs></app-breadcrumbs>
    </div>
    <div class="border border-steelBlue h-[2.5rem] w-[23rem] rounded-lg flex items-center px-4 gap-3 focus-within:shadow-xl focus-within:rounded-3xl transition-all duration-300">
        <img ngSrc="assets/images/icon_search.svg" width="24" height="24" alt="Search"/>
        <input class="w-full bg-transparent h-full outline-0 text-steelBlue text-xs font-medium" placeholder="Search..." type="text">
    </div>
</div>

<div class="inline-block lg:hidden bg-darkEbony h-16 w-full shadow">
    <div class="flex h-full w-full p-2 justify-between items-center gap-5">
        <img class="w-12" src="assets/images/app_logo.png" alt="" srcset="">
        <app-breadcrumbs></app-breadcrumbs>
        <div class="w-full"></div>
        <button (click)="toggleMobileMenu()" class="">
            <svg xmlns="http://www.w3.org/2000/svg"
                 class="text-gray-300 w-6 h-6"
                 fill="currentColor"
                 width="24"
                 height="24"
                 viewBox="0 0 24 24">
                <path d="M4 6h16v2H4zm4 5h12v2H8zm5 5h7v2h-7z"></path>
            </svg>
        </button>
    </div>
</div>

<app-mobile-menu *ngIf="showMobileMenuFlag" (close)="toggleMobileMenu()"></app-mobile-menu>
