<div class="w-[16rem] bg-darkEbony h-full py-8 hidden lg:inline-block">
    <div class="flex gap-5 items-center px-5 cursor-pointer">
        <img src="./assets/images/app_logo.png" class="w-[91px]" alt="Logo"/>
        <span class="text-white opacity-45 font-light text-xl">v1</span>
    </div>
    <div *ngIf="foldersSignal()" class="flex flex-col mt-14">
        <div *ngFor="let folder of foldersSignal()"
             (click)="selectFolder(folder)"
             class="px-5 py-1 cursor-pointer text-white hover:bg-gray-200 hover:bg-opacity-20 transition duration-150 text-base"
             [ngClass]="{'bg-hippieBlue hover:bg-hippieBlue hover:bg-opacity-100': selectedFolderSignal() && selectedFolderSignal()?.id === folder.id}">
            {{ folder.name }}
        </div>
    </div>
</div>
